{
    "root": true,
    "extends": "airbnb-base",
    "env": {
       "es6": true,
       "node": true
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "ecmaFeatures": {
        "jsx": true
      },
      "sourceType": "script",
    },
    "rules": {
        "comma-dangle": [2, "never"],
        "object-curly-spacing": [2, "never"],
        "array-bracket-spacing": [2, "never"],
        "max-len": [2, 120, {
          "ignoreStrings": true,
          "ignoreTemplateLiterals": true,
          "ignoreComments": true,
        }],
        "operator-linebreak": [2, "after"],

        "prefer-destructuring": [2, { "array": false, "object": false }, { "enforceForRenamedProperties": false }],

        "import/order": 1,
        "no-useless-escape": 1,
        "function-paren-newline": 0,
        "no-plusplus": 1,
        "no-param-reassign": 1,
        "no-mixed-operators": 1,
        "no-void": 1,
        "no-continue": 1,
        "global-require": 1,
        "no-restricted-syntax": 1,
        "valid-jsdoc": 1,
    },
    "overrides": [
      {
        "files": "tests/**",
        "rules": {
          "no-template-curly-in-string": 1,
        },
      },
    ],
}
